# Ignore python binary files
*.pyc
# Ignore Vim .swp files. These apparently only exist while vim has active documents open. 
*.swp
# Ignore all pdf files. 
*.pdf

# Ignore the plots directory
plots/

# Ignore the .directory file
.directory
